/*bootstrap plugins*/
@import "../node_modules/bootstrap/scss/functions";


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
/* end of plug ins */

body {
    background-color: #000 !important;
   }

.nav-bar {
    padding:30px;
    background-color: #4A77B5;
    color: white;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-ul a {
    color: white !important;
    text-decoration: none;
    font-family: LEMONMILK-light;
}
.nav-ul a:hover {
    color: orange !important;
}
.nav-ul a:active {
    color: orange !important;
}
.nav-ul a:focus {
    color: orange !important;
}

h1 {
    font-family: LEMONMILK-Bold;
    
}

.header h1 {
    padding:30px;
    text-align: center;
    font-size: 80px;
}

/*=========== My work ==========*/
.grid {
    display:flex;
    /* grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
}

  .img-wrapper {
    position: relative;
    overflow:hidden;
} 

 .img-wrapper > img {
    display:block;
    width:100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
} 

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding:1rem;
    background:rgba(0,0,0,0.7);
    color:white;
    font-family: lemonmilk-bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper > .content.fade {
    opacity:0;
}
.img-wrapper:hover > .content.fade {
    opacity:1;
}

/*==========IT Student Work ==========*/
div.student-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:50px;
}
a.website-links  {
background-color: white;
border-radius: 10px;
padding:30px;
margin:20px;
color:#4A77B5;
font-family:lemonmilk-regular;
text-decoration: none;
}
a.website-links:hover {
    background-color: #4A77B5;
    color:white;
}
a.website-links:active {
    background-color: #4A77B5;
    color:orange;
}
a.website-links:focus {
    background-color: #4A77B5;
    color:orange;
}

div.work-header {
    font-family: lemonmilk-light;
    color:white;
    margin:30px;
    text-align: right;
}

.italics {
    color:orange;
}
.italics:hover {
    color:#4A77B5;
}

/*=========== Resume ==========*/
a.resume {
    font-family: lemonmilk-bold;
   display: flex;
   justify-content: center;
   margin: 100px;
   text-decoration: none;
   font-size: 100px;
   color:#4A77B5 !important;
}
a.resume:hover  {
   color:orange !important;
}
a.resume:active  {
    color:orange !important;
 }
 a.resume:focus  {
    color:orange !important;
 }
/*=========== About Me ==========*/
div.about-me {
    display: flex;
    background-color: #4A77B5;
}
p.about-me-text {
    font-size: 20px;
    font-family: lemonmilk-light;
    text-align: center;
    align-content: center !important;
    justify-content: center !important;
    color:white;
    
}
/*=========== Footer ==========*/
.footer-items {
    display: flex;
    justify-content: space-evenly;
    background-color: #4A77B5 !important;
    padding: 50px !important;
}
.footer-name {
    color: white !important;
    font-family: lemonmilk-bold;
    font-size: 30px;
}

.contact  p{
    color: white !important;
    font-family: lemonmilk-regular;
}

.contact  li{
    color: white !important;
    font-family: lemonmilk-light;
    list-style-type: none;
}

.name p {
    align-content: center !important;
    justify-content: center !important;
}

